<div class="list ms-auto">
  <ul class="links list-unstyled pt-5 fs-6">
    <li  *appHasRole='["Bishop","SystemAdmin"]'><a routerLink="church">الكنائس <img src="../../../assets/images/chuerch.svg"></a></li>
    <li><a 
      
      routerLink="people"
      >الأشخاص<img src="../../../assets/images/people.svg"></a></li>
    <li><a routerLink="baptism" >إصدار وثيقة معمودية<img src="../../../assets/images/cross.svg"></a></li>
    <li><a routerLink="status" >إصدار وثيقة مطلق حال<img src="../../../assets/images/rings.svg"></a></li>
    <li *appHasRole='["Bishop","SystemAdmin"]'><a routerLink="users">المستخدمون</a></li>
    </ul>
</div>