.top{
  flex-direction: row-reverse;
  justify-content: flex-start;
  border: 1px solid;
  border-color: transparent transparent gray transparent ;
  background-color: var(--main-color);

}
.square{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:var(--main-color);
  border: 1px var(--white-color) solid;
}
.square::after{
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color:var(--white-color) transparent transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
 top: 54px;

}

.black-cross{
  height: 100px;
  width: 50px;
}
.top i{
  width: 30px;
  height: 30px;
  color:var(--white-color);

}
.grid-container
{
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: 1fr 5fr;
}
.row1
{


  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.row2col1
{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.row2col2
{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}
.fullgrid
{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}



