



/*start emit*/

.title h2{
  color: var(--main-color);
}
.search input{
  border: 2px solid black;
  border-radius: 10px;
height: 30px;
background-color: #eee;
border: transparent;
width: 200px;
}
.search input:hover,
.search input:focus{
  border-color: var(--main-color);
}
.search img{
  position: absolute;
right: 5px;
bottom: 17%;
height: 20px;


}
.sp input,.date input,.ond input{
  width: 150px;
border: 1px solid transparent;
border-bottom-color: black;
background-color: #ddd;

}
.sp span{
  font-weight: bold;
}
.grid-container{
  display: grid;
  grid-template-rows: repeat(5,auto);
  width: 100%;


}
.grid-item{
  display: flex;
  flex-direction: row-reverse;
gap: 100px;
  justify-content: center;
  align-items: center;


}
.right,.left{
  flex-direction: column;
}
.details input{
  margin-bottom: 10px;
  height: 28px;
  background-color:var(--white-color);
}
.details label{
  text-align: center;
}
.finish span{
  font-weight: bold;
}
.check span{
  color: var(--main-color);
  margin-left: 2px;
}
.check  input{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
}
.details{

  margin: 5px;
}
.end,.arab{
display: flex;
flex-direction: row-reverse;

}
.end{
justify-content: space-around;
}
.arab{
  gap: 10px;
}
button{
  background-color: var(--main-color);
  color: white;
  width: 100px;
  height: 50px;
border-radius: 20px;
}
.ond input{
  background-color: var(--white-color);
}

.gender input{
  margin-left: 20px;
}
.gender span{
 color: var(--main-color);
 font-weight: bold;
 font-size: large;
}
/*End Emit*/
